@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --primary-black-color: #000000;
  --primary-white-color: #ffffff;
  --primary-dark-color: #111518;
  --accent-color: #ff6b09;
  --primary-grey-color: #b9b9b9;
  --secondary-grey-color: #3d3d3d;
  --main-font: "Montserrat", sans-serif;
  --background-section-color: #f1f1f1;
  --background-modal-color: rgba(17, 21, 24, 0.9);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-grey-color);
  font-family: var(--main-font);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1344px;
  }
}

@media screen and (max-width: 1365px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.problems__title {
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.problems__title-component {
  font-weight: 800;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.problems__description {
  background: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problems__list {
  color: var(--primary-dark-color);
  font-weight: 700;
  letter-spacing: 0.08em;
  counter-reset: number 0;
}

.problems__items {
  counter-increment: number;
}

.problems__items::before {
  display: block;
  padding-bottom: 5px;
  content: "— " counter(number, decimal-leading-zero);
  left: -18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .problems {
    padding-top: 27px;
    padding-bottom: 39px;
    background-image: linear-gradient(to bottom, var(--primary-dark-color) 545px, var(--primary-white-color) 149px);
  }
  .problems__title {
    max-width: 100%;
    padding-top: 27px;
    padding-bottom: 28px;
    font-size: 24px;
  }
  .problems__title-component {
    font-size: 24px;
  }
  .problems__description {
    padding: 20px 13px 4px 30px;
  }
  .problems__list {
    font-size: 14px;
    line-height: 2;
  }
  .problems__list > .problems__items:nth-child(1) {
    margin-bottom: 10px;
  }
  .problems__list > .problems__items:nth-child(4) {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .problems {
    margin-right: -20px;
    background-image: linear-gradient(to bottom, var(--primary-dark-color) 340px, var(--primary-white-color) 154.5px);
  }
  .problems__title {
    padding: 59.5px 198px 25px 2px;
    font-size: 24px;
  }
  .problems__title-component {
    font-size: 24px;
  }
  .problems__description {
    width: 688px;
    height: 303px;
    padding: 30px 46.8px 10px 96px;
  }
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 2;
    margin-right: -22px;
  }
  .problems__list > .problems__items {
    flex-basis: calc(100% / 2 - 22px);
    margin-right: 22px;
  }
}

@media screen and (min-width: 1366px) {
  .problems {
    align-items: center;
    background-image: linear-gradient(to bottom, var(--primary-dark-color) 560px, var(--primary-white-color) 131px);
  }
  .problems .problems__container {
    position: relative;
    z-index: 1;
  }
  .problems__title {
    padding-top: 100px;
    padding-bottom: 51px;
    font-size: 46px;
  }
  .problems__title-component {
    font-size: 46px;
  }
  .problems__description {
    position: relative;
    max-width: 1680px;
    width: 1314px;
    height: 362px;
    padding: 89px 112px 43px 114px;
    z-index: 1;
  }
  .problems__description::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../images/problems/campfire.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 455px;
    height: 472px;
    right: -231px;
    bottom: 111px;
  }
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 1.4;
    margin-right: -40px;
  }
  .problems__list > .problems__items {
    flex-basis: calc(100% / 3 - 40px);
    margin-right: 40px;
    margin-bottom: 32px;
  }
}
/*# sourceMappingURL=main.css.map */