.guarantee {
  padding-top: 46px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .guarantee {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 28px;
    padding-left: 28px;
  }
}
.guarantee {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .guarantee {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1368px) {
  .guarantee {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.guarantee__title {
  text-align: center;
  color: var(--primary-black-color);
}
.guarantee__text {
  font-size: 12px;
  color: var(--secondary-grey-color);
  line-height: 1.67;

  @media screen and (min-width: 1368px) {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1368px) {
  .guarantee__text {
    width: 100%;
    height: 60px;
    font-size: 18px;
    line-height: 28px;
  }
}
.accent-color {
  color: var(--accent-color);
}
.guarantee__list {
  margin-top: 30px;
  padding-top: 50px;

  background-color: var(--background-section-color);
}
@media screen and (min-width: 768px) {
  .guarantee__list {
    padding-top: 30px;
    padding-left: 79px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1368px) {
  .guarantee__list {
    padding-top: 50px;
    padding-right: 112px;
    padding-left: 112px;
    padding-bottom: 45px;
    background-color: var(--background-section-color);
  }
}

.guarantee__item {
  font-size: 12px;
  line-height: 40px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .guarantee__item {
    padding-bottom: 50px;

    padding-right: 30px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1368px) {
  .guarantee__item {
    display: block;
    margin-left: 52px;
    padding-top: 0;
  }
}

.guarantee__item::before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;

  min-width: 15px;
  height: 20px;
  position: absolute;
  left: 14px;

  background-image: url('../images/guarantee/fire.svg');
}
@media screen and (min-width: 768px) {
  .guarantee__item::before {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;

    min-width: 15px;
    height: 20px;
    position: absolute;
    left: 113px;
    padding-bottom: 100px;
    background-image: url('../images/guarantee/fire.svg');
  }
}
@media screen and (min-width: 1368px) {
  .guarantee__item::before {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;

    min-width: 22px;
    height: 30px;
    position: absolute;
    left: 203px;
    padding-bottom: 100px;
    background-image: url('../images/guarantee/fire.svg');
  }
}

.guarantee__item:not(:last-child) {
  border-left: 1px dashed;
}
