    .problems__title {
      font-weight: 800;
      line-height: 1.3;
      letter-spacing: 0.03em;
      color: var(--primary-white-color);
      }
    .problems__title-component {
      font-weight: 800;
      letter-spacing: 0.03em;
      color: var(--accent-color);
      }
    .problems__description {
      background: var(--primary-white-color);
      margin-left:auto;
      margin-right: auto;
      box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
      }
    .problems__list {
      color: var(--primary-dark-color);
      font-weight: 700;
      letter-spacing: 0.08em;
      counter-reset: number 0;
      }
    .problems__items {
      counter-increment: number;}
    .problems__items::before {
      display: block;
      padding-bottom: 5px;
      content: "— " counter(number, decimal-leading-zero);
      left: -18px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.214;
      letter-spacing: 0.08em;
      color: var(--accent-color);
      }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .problems {
      padding-top: 27px;
      padding-bottom: 39px;
      background-image: linear-gradient(
        to bottom,
        var(--primary-dark-color) 545px,
        var(--primary-white-color) 149px);
      &__title {
        max-width: 100%;
        padding-top: 27px; ;
        padding-bottom: 28px;
        font-size: 24px;
        }
      &__title-component {
         font-size: 24px;
        }
      &__description {
        padding: 20px 13px 4px 30px;
        }    
      &__list{
        font-size: 14px;
        line-height: 2;
        }
      }
    .problems__list > .problems__items:nth-child(1) {
      margin-bottom: 10px;
      }
    .problems__list > .problems__items:nth-child(4) {
       margin-bottom:28px;
      }
    }
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    .problems {
      margin-right: -20px;
      background-image: linear-gradient(
        to bottom,
        var(--primary-dark-color) 340px,
        var(--primary-white-color) 154.5px
        );
        &__title {
          padding: 59.5px 198px 25px 2px;
          font-size: 24px;
        }
        &__title-component {
          font-size: 24px;
        }
        &__description {
          width: 688px; 
          height: 303px ;
         padding: 30px 46.8px 10px 96px;
        }
      }    
    .problems__list {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      line-height: 2;
      margin-right: -22px;
      }
    .problems__list > .problems__items {
      flex-basis: calc(100% / 2 - 22px);
      margin-right: 22px;
      }
    }
  @media screen and (min-width: 1366px) { 
    .problems {
      align-items: center;
      background-image:linear-gradient(to bottom, 
      var(--primary-dark-color) 560px, 
      var(--primary-white-color) 131px,);
    .problems__container{
      position: relative;
      z-index: 1;
    }
      &__title {
        padding-top: 100px;
        padding-bottom: 51px;
        font-size: 46px;
      }
      &__title-component {
        font-size: 46px;
      }
      &__description {
        position: relative;
        max-width: 1680px;
        width: 1314px;
        height: 362px;
        padding: 89px 112px 43px 114px;
        z-index: 1;
        &::after {
          position: absolute;
          display: block;
          content: '';
          background-image: url(../images/problems/campfire.svg);
          background-repeat: no-repeat;
          background-position: right;
          width: 455px;
          height: 472px;
          right: -231px;
          bottom: 111px;
        }
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        line-height: 1.4;
        margin-right: -40px;
      }
    }
      .problems__list > .problems__items {
        flex-basis: calc(100% / 3 - 40px);
        margin-right: 40px;
        margin-bottom: 32px;
      }
    }