.problems {
  background-image: linear-gradient(
    to bottom,
    var(--primary-dark-color) 78.5%,
    var(--primary-white-color) 21.5%
  );
  &__title {
    padding-bottom: 24px;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.292;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    }
  &__title-component {
    font-weight: 800;
    font-size: 24px;
    line-height: 1, 292;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
 }
.problems__list{
  padding: 20px 13px 4px 30px;
  background: var(--primary-white-color);
  color: var(--primary-dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  counter-reset: number 0;
 }
  .problems__items {
  counter-increment: number;}
  li::before {
  display: block;
  padding-top: 20px;
  content: counter(number, decimal-leading-zero);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  }